**1-Write a Python program to calculate the length of a string using 2 ways

In [5]:
x=input()
print (len(x))

mohamed
7

In [4]:
x=input()
counter = 0
for ch in x:
    counter += 1

print(counter)

mohamed
7

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [3]:
string = input("enter a string ")

if len(string) >= 2:
    print(string[:2]+string[-2:])
else:
    print('empty string')

enter a string mohamed
moed

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [10]:
name=input()
if len(name)<3:
    print(name)
else:
    if name[-3:]=="ing":
        print(name+"ly")
    else:
        print(name+"ing")

ahmed
ahmeding

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [87]:
# l=['amr','omar','ahmed','ali','abd elrhman' ,'mosad' ,'abd elftah']
# def returnword():
#     counter=0
#     maxword= None
#     for word in l:
#         if len(word)>counter:
#             counter = len(word)
#             maxword = word
#             return counter,maxword

l = ['amr', 'omar', 'ahmed', 'ali', 'abd elrhman', 'mosad', 'abd elftah']

def returnword():
    counter = 0
    maxword = None
    for word in l:
        if len(word) > counter:
            counter = len(word)
            maxword = word
    return counter, maxword
length,word = returnword()
print(f"The longest word is '{length}' with a length of {word} characters")

The longest word is '11' with a length of abd elrhman characters.

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [2]:
name=input()
print(name[-1]+name[1:-1]+name[0])

mohamed
dohamem

In [15]:
def exchange(input_string):
    if len(input_string) <= 1:
        return input_string
    else:
        first_char = input_string[0]
        last_char = input_string[-1]
        middle_chars = input_string[1:-1]
        return last_char + middle_chars + first_char

name=input()
result = exchange(name)
print(result)

mohamed
dohamem

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [10]:
name="mohamed elsanhoury"
name[::2]

'mhmdesnor'

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [29]:
string="i love python and i love php"
i=string.split()
for i in words :
    print(i, string.count(i))

i 2
love 2
python 1
and 1
i 2
love 2
php 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [1]:
word=input()
print(word.upper())
print(word.lower())

ahmed
AHMED
ahmed

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [8]:
name=input()
if len(name)%4==0:
    print(name[::-1])
else:
        print(name)

mody
ydom

**10- Write a Python program to remove a newline in Python

In [10]:
string="name\n name"
print(string)

'name\nname'

**11-Write a Python program to check whether a string starts with specified characters

In [15]:
name=input()
ch="A"
if name.startswith(ch):
    print("yes")
else:
    print('no')

Ahmed
yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [18]:
name='''mohamed love python
ali love php
emad love c++ 
'''
lines=name.splitlines()
for line in lines:
    print("Eng.",line)

Eng. mohamed love python
Eng. ali love php
Eng. emad love c++

**13-Write a Python program to print the following numbers up to 2 decimal places

In [9]:
number =3.234567
print(str(number)[0:4])

3.23

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [12]:
n=-2.45554
print("Number with sign= "+"{:+.2f}".format(n));

Number with sign= -2.46

**15-Write a Python program to display a number with a comma separator

In [14]:
number=23.546
newnumber=str(number)
newnumber.replace(".",",")

'23,546'

**16-Write a Python program to reverse a string using 2 ways

In [20]:
name="mohamed elsanhoury"
r= name[::-1]
r

'yruohnasle demahom'

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [25]:
ch="mohamed elsanhoury"
ch.split()
dc={}
for i in ch:
    dc[i]=ch.count(i)
dc

{'m': 2,
 'o': 2,
 'h': 2,
 'a': 2,
 'e': 2,
 'd': 1,
 ' ': 1,
 'l': 1,
 's': 1,
 'n': 1,
 'u': 1,
 'r': 1,
 'y': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [66]:
name="mohamed elsanhoury"
for ch in name:
    if name.count(ch)==1:
        print(ch)
        break

d

**19-Write a Python program to remove spaces from a given string

In [70]:
name="mohamed mahmoud saad"
newmame=name.replace(" ","")
newmame

'mohamedmahmoudsaad'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [84]:
name="mohamed"
print(int(len(name)*(len(name)+1) /2))

28

**21-write a Python program to swap first and last element of any list.

In [88]:
l=[9,2,3,4,5,6,7,8,1]
if len(l) >= 2:
        l[0], l[-1] = l[-1], l[0]
        print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [91]:
l=[1,2,3,4]
pos1=int(input())
pos2=int(input())
l[pos1],l[pos2]=l[pos2],l[pos1]
print(l)

2
3
[1, 2, 4, 3]

**23- search for the all ways to know the length of the list

In [102]:
l=[1,2,3,4,5,6,7]
len(l)

7

In [103]:
counter=0
for i in l:counter+=1
print(counter)

7

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [104]:
max([1,2,3,33,44,66,77,88,98,75])

98

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [105]:
min([1,2,3,4,5,6,6,6,4,7,77,7,88])

1

**26-search for if an elem is existing in list

In [34]:
l = [1, 2, 3, 4, 5, 66, 77, 4]

if l.count(2) == 0:
    print("not found")
else:
    print('founded')

founded

**27- clear python list using different ways

In [35]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

[]

In [36]:
my_list = [1, 2, 3, 4, 5]
my_list = []
print(my_list)  # Output: []

[]

In [40]:
my_list = [1, 2, 3, 4, 5]
my_list[:] = []
print(my_list)

[]

**28-remove duplicated elements from a list

In [41]:
my_list = [1, 2, 2, 3, 4, 4, 5, 5]
my_list = list(set(my_list))
print(my_list)

[1, 2, 3, 4, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [53]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]

result = [{key: value
           for key, value in zip(key_list, test_list[i:i+2])} 
          for i in range(0, len(test_list), 2)]

print(result)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [58]:
numbers = [2, 4, 6, 8, 4, 10, 2]
unique_values = set(numbers)
print(unique_values)

{2, 4, 6, 8, 10}

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [ ]:
??????????????????

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
??????????????????

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [21]:
def comb(L):
    for i in range(3):
        for j in range(3):
            for k in range(3):
                if (i != j and j != k and i != k):
                    print(L[i], L[j], L[k])

comb([1, 2, 3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
?????

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
?????

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [77]:
test_list = [1 ,1, 2, 3, 4, 5, 1, 2, 1 ]
ele=1
x=[i for i in test_list if i!=ele]
print(x)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [85]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
res = [list1[ind] for ind in list2]
print (res)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [ ]:
??????

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [88]:
myDict = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}

myKeys = list(myDict.keys())
myKeys.sort()
sorted_dict = {i: myDict[i] for i in myKeys}

print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [90]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
print("The original dictionary is : " + str(test_dict))
K = 6
res = {}
for key in test_dict:
    if not (isinstance(test_dict[key], int) and test_dict[key] > K):
        res[key] = test_dict[key]
print("The constructed dictionary : " + str(res))

The original dictionary is : {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
The constructed dictionary : {'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [23]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
result_dict = {}
for d in [dic1, dic2, dic3]:
    result_dict.update(d)
print(result_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [91]:
dt = {'a': 'juice', 'b': 'grill', 'c': 'corn'}

for key, value in dt.items():
    print(key, value)

a juice
b grill
c corn

**44- Write a Python script to merge two Python dictionaries

In [94]:
dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}

print(dict_1 | dict_2)

{1: 'a', 2: 'c', 4: 'd'}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [96]:
d = {'a': 100, 'b': 20, 'c': 50, 'd': 100, 'e': 80}

print(max(d.items(), key=lambda x: x[1]))


print(min(d.items(), key=lambda x: x[1]))

('a', 100)
('b', 20)

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [98]:
dict1 = {'c1': 'Red', 'c2': 'Green', 'c3':None}
print(dict1)
dict1 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict1)

{'c1': 'Red', 'c2': 'Green', 'c3': None}
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [102]:
tuplex = 5, 10, 15, 20, 25
print(tuplex)
tuplex = 5,
print(tuplex)

(5, 10, 15, 20, 25)
(5,)

**48-Write a Python program to unpack a tuple into several variables

In [106]:
tuplex = 4, 8, 3 
print(tuplex)
n1, n2, n3 = tuplex
print(n1 , n2 , n3)

(4, 8, 3)
4 8 3

**49-Write a Python program to add an item to a tuple

In [110]:
t = (10,40,50,70,90) 
print(t)
l = list(t) 
l.append(30)
t = tuple(l)
print(t)

(10, 40, 50, 70, 90)
(10, 40, 50, 70, 90, 30)

**50-Write a Python program to convert a tuple to a string

In [111]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

exercises

**51-Write a Python program to convert a list to a tuple

In [ ]:
listx = [5, 10, 7, 4, 15, 3]
print(listx)
tuplex = tuple(listx)
print(tuplex)

**52-Write a Python program to reverse a tuple

In [113]:
x = (5, 10, 15, 20)
y = reversed(x)
print(tuple(y))

(20, 15, 10, 5)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [114]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [116]:
my_str_1 = "7, 8, 0, 3, 45, 3, 2, 22, 4"
my_result = tuple(map(int, my_str_1.split(', ')))
print(my_result)

(7, 8, 0, 3, 45, 3, 2, 22, 4)

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [117]:
t = (10, 20, 30, 40)
print(sum(t)/len(t))

25.0

**56-Write a Python program to add member(s) to a set.

In [119]:
original_set = {1, 2, 3}
print("Original set:", original_set)
original_set.add(4)
original_set.add(5)
print("after added:", original_set)

Original set: {1, 2, 3}
after added: {1, 2, 3, 4, 5}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [5]:
original_set = {1, 2, 3, 4, 5}
print("Original set:", original_set)
item_remove = 3
if item_remove in original_set:
    original_set.remove(item_remove)

print("Updated set:", original_set)

Original set: {1, 2, 3, 4, 5}
Updated set: {1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [6]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Intersection
intersection_set = set1.intersection(set2)

# Union
union_set = set1.union(set2)

# Difference
difference_set = set1.difference(set2)

# Symmetric Difference
symmetric_difference_set = set1.symmetric_difference(set2)

# Output
print("Set1:", set1)
print("Set2:", set2)
print("Intersection:", intersection_set)
print("Union:", union_set)
print("Difference (Set1 - Set2):", difference_set)
print("Symmetric Difference:", symmetric_difference_set)

Set1: {1, 2, 3, 4, 5}
Set2: {4, 5, 6, 7, 8}
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Difference (Set1 - Set2): {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [7]:
my_set = {4, 7, 1, 9, 3, 6, 5}
max_value = max(my_set)
min_value = min(my_set)
print("Set:", my_set)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Set: {1, 3, 4, 5, 6, 7, 9}
Maximum value: 9
Minimum value: 1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [17]:
def findPairs(lst, K):
    res = []
    while lst:
        num = lst.pop()
        diff = K - num
        if diff in lst:
            res.append((diff, num))
    res.reverse()
    return res

lst = [1, 5, 3, 7, 9]
K = 12
print(findPairs(lst, K))

[(5, 7), (3, 9)]